# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,json,pug,html}]
charset = utf-8
indent_size = 4
trim_trailing_whitespace = true

[*.{webmanifest,sass,scss,css,svg,yaml}]
charset = utf-8
indent_size = 2
trim_trailing_whitespace = true

[*.yaml]
indent_style = space
