server {
    server_name                         ~^www\.(?<domain>.+)$;
    listen                              '${SITE_PORT}';
    return                              301 $scheme://$domain$request_uri;
}
